@import "tailwindcss";

/* ================================
   THEME COLORS
================================ */
@theme {
  --color-bg-one: var(--bg-one);
  --color-bg-two: var(--bg-two);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
}

/* ================================
   BASE STYLES
================================ */
@layer base {
  :root {
    --bg-one: rgb(255, 255, 255);
    --bg-two: rgb(227, 235, 243);
    --foreground: rgb(247, 148, 32);
    --primary: #f79420;
    --secondary: #000000;
    --accent: #e3ebf5;
  }

  html {
    @apply scroll-smooth;
    scroll-padding-top: 5rem;
  }

  body {
    @apply transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
    scroll-padding-top: 5rem;
    @apply antialiased w-full;
  }
}

/* ================================
   CUSTOM UTILITIES
================================ */

@utility container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }

  @media (min-width: 1400px) {
    max-width: 1400px;
  }
}



@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}


@utility thin-scrollbar {
  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #fff #f1f1f1;
}

@layer utilities {
  .card-shadow {
    box-shadow: 0 8px 20px 6px rgba(0, 0, 0, 0.15);
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}